

.cursor {
  width: 15px;
  height: 15px;
  background-color: #EFCCAD;
  opacity: 50%;
  border-radius: 50%;
  position: relative;
  margin-top: 0px;
 
}


.maincontainer {
    background-color: #faf5f0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    margin: 0px;
    cursor: none;

}



.box1 {
  position: relative;
  display: grid;
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 20;
  width: 100%;
}

.box2 {
  border: 1px solid #b3c7d1;
  overflow: scroll;
  grid-column-start: 2;
  grid-column-end: 6;

  width: 100%;
}

.box3 {
  grid-column-start: 7;
  grid-column-end: 13;

  border: 1px solid #b3c7d1;
}
.box4 {
  grid-column-start: 14;
  grid-column-end: 19;

  border: 1px solid #b3c7d1;
}

.box5 {
  grid-column-start: 2;
  grid-column-end: 13;

  margin-top: 50px;
  border: 1px solid #b3c7d1;
  display: flex;
}

.box6 {
  grid-column-start: 14;
  grid-column-end: 19;

  margin-top: 50px;
  border: 1px solid #b3c7d1;
}

.box7 {
  grid-column-start: 0;
  grid-column-end: 20;

  border-bottom: 0.5px #b3c7d1;
  visibility: hidden;
}


/* 
.box1 {
  display: grid; 
  grid-column: 1/20;
  grid-row: 1/1;
} */

/* .box1 {
  display: grid;
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 0;
  grid-column-end: 20; 
} */


h1 {
  float: left; 
}


h1 {
    font-family: 'Karla', sans-serif;
    font-size: 52px;
    color: transparent;
    -webkit-text-stroke: 2px #B3C7D1;

}



h2 {
    font-family: 'Playfair Display', serif;
    color: #B3C7D1;
    /* overflow: scroll; */
    font-size: 18px;
    /* padding: 8px; */

}


h3 {
    font-family: 'Playfair Display', serif;
    color: #B3C7D1;
    overflow: scroll;
    font-size: 12px;
    /* padding: 8px; */
    /* overflow: scroll; */

}


.textcontainer {
  /* position: relative; */
  float: right;
  text-align: left;
  width: 80%;

}

.textcontainer2 {
  /* position: relative; */
  float: right;
  text-align: left;
  width: 80%;

}

h4 {
  font-family: 'Karla', sans-serif;
  color: #B3C7D1;
  font-size: 16px;
  font-weight: lighter;
  padding: 20px;

}

/* .box2 {
    border: 1px solid #B3C7D1;
    overflow: scroll;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
} */


.vertical-rl { 
    writing-mode: vertical-lr;
    font-family: 'Karla', sans-serif;
    font-size: 24px; 
    color: #B3C7D1;
    font-weight: bold;
    /* transform: rotate(180deg); */
    padding: 20px;
    margin: 0px;
    position: relative;
    width: 5%;

}

a {
    color:inherit;
    text-decoration: none;
   }

a:hover {
  cursor: none; 
  background-color: white;
}

.second:hover {
  background-color: white;
}

/* .box3 {
    grid-column-start: 7; 
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid #B3C7D1;

} */


 .albers1 {
    height: 60%;
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
    background-color:  #FFF67E;
    mix-blend-mode: multiply;
    opacity: 90%;
    z-index: 10;
    animation: shape1 8s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
}

@keyframes shape1 {
    0% {
      background-color:  #FFF67E;
      opacity: 80%;
    }
    100% {
      background-color: #625ea6;
      opacity: 80%;
    }
  }

  .albers2 {
    height: 95%;
    width: 90%;
    position: relative;
    left: 45px;
    transform: rotate(25deg);
    background-color: #FFF67E;
    mix-blend-mode: multiply;
    opacity: 90%;
    z-index: 20;
    animation: shape2 8s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
}


@keyframes shape2 {
    0% {
      background-color:  #FFF67E;
      opacity: 80%;
    }
    100% {
      background-color: #625ea6;
      opacity: 80%;
    }
  }


.albers3 {
    height: 95%;
    width: 90%;
    position: relative;
    bottom: 250px;
    right: 40px;
    transform: rotate(-25deg);
    background-color: #FFF67E;
    mix-blend-mode: multiply;
    opacity: 90%;
    z-index: 20;
    animation: shape3 8s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
}

@keyframes shape3 {
    0% {
      background-color:  #FFF67E;
      opacity: 80%;
    }
    100% {
      background-color: #625ea6;
      opacity: 80%;
    }
  } 


.buttoncontainer {
  text-align: center;
  margin: 0px;

}



.firstbutton{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #B3C7D1;
  width: 90px;
  height: 30px;
  box-shadow: 10px white;
}

.secondbutton{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #B3C7D1;
  width: 120px;
  height: 30px;
  box-shadow: 10px white;
}

.thirdbutton{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #B3C7D1;
  width: 130px;
  height: 30px;
  box-shadow: 10px white;
}


.slideshow1 {

  margin: auto;
  /* margin-left: 100px; */
  display:flex;
  align-content: center;
  padding-bottom: 10px;
  width: 50%;
  height: 50%;
}

.slideshow:hover {
mix-blend-mode: soft-light;
}



/* @media (max-width: 1300px) {
  .albers1 {
    height: 300px;
    width: 130px;
    }

  .albers2 {
    height: 300px;
    width: 100px;
  }

  .albers3 {
    height: 300px;
    width: 100px;
    position: relative;
    bottom: 300px;
}
} */

  /* @media (max-width: 1000px) {

  
    .maincontainer {
 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   
  
  }


    h1 {
      font-size: 42px; 
    }

    .albers1 {
      height: 250px;
      width: 100px;
      }
  
    .albers2 {
      height: 220px;
      width: 80px;

    }
  
    .albers3 {
      visibility: hidden;
  }
    } */

    /* @media (max-width: 800px) {

      h1 {
        font-size: 32px;
      }
      .albers1 {
        height: 200px;
        width: 80px;
        }
    
      .albers2 {
       visibility: hidden;
      }
    
      .albers3 {
        visibility: hidden;
    }
      }
      
      @media (max-width: 650px) {
        h1 {
          font-size: 30px;
        }
      } */

/* 
@media (max-width: 600px) {

  .maincontainer {
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }


} */





/* h1 {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  color: transparent;
  -webkit-text-stroke: 2px #B3C7D1;
  float: left;
  position: relative;


}

.box1 {
  position: relative;
  float: left;
  grid-column-start: 0;
}


.box2 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  /* width: 150px; */
  /* margin-right: 20px;  */
/* 
}

.box3 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 10;
  width: 150px;
  margin-right: 15px; 
}

.box4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 11;
  grid-column-end: 15;
  width: 150px;

}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 10px;
}

h4 {
  font-size: 12px;
}

.box5 {
  grid-row-start: 5;
  grid-row-end: 6;
  width: 300px;
} 

.box6 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 12;
  grid-column-end: 13;
  width: 100px;

} */

/* .box7 {
  grid-row-start: 7;
}  */

/* 
@media (max-width: 400px) {


  .maincontainer {
 
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

} */

/*      
        h1 {
          font-family: 'Karla', sans-serif;
          font-size: 18px;
          color: transparent;
          -webkit-text-stroke: 2px #B3C7D1;
          float: left;
          position: relative;
    
      
      }
    
        .box1 {
          position: relative;
          float: left;
          grid-column-start: 0;
        }
    
    
        .box2 {
          display: grid;
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 5;
          width: 80px;
          margin-right: 20px; 
    
        }
    
        .box3 {
          display: grid;
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 6;
          grid-column-end: 10;
          width: 80px;
          margin-right: 15px; 
        }
        
        .box4 {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 11;
          grid-column-end: 15;
          width: 80px;
        
        }

        .albers1 {
          height: 100px;
        width: 40px;
        }
    
        h2 {
          font-size: 14px;
        }
    
        h3 {
          font-size: 6px;
        }
    
        h4 {
          font-size: 10px;
        }
    
        .box5 {
          grid-column-start: 1;
          grid-row-start: 5;
          grid-row-end: 6;
          width: 200px;
        } 
    
        .firstbutton {
          font-size: 6px;
          width: 45px;
          height: 20px;
        }

        .secondbutton {
          font-size: 6px;
          width: 45px;
          height: 20px;
        }

        .thirdbutton {
          font-size: 6px;
          width: 45px;
          height: 20px;
        }




        .box6 {
          grid-row-start: 5;
          grid-row-end: 6;
          grid-column-start: 12;
          grid-column-end: 13;
          width: 80px;
    
        }
    
        .box7 {
          grid-row-start: 7;
        }
    
          }


 */
 @media (max-width: 1200px) {
  h1 {
    font-size: 42px;
  }

 }

 @media (max-width: 1000px) {
  h1 {
    font-size: 32px;
  }

 }


 @media (max-width: 800px) {
  h1 {
    font-size: 28px;
  }

 }

 @media (max-width: 700px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow: scroll;
    grid-template-rows: auto;
    cursor: none;
    margin: 0px;
  }

  h1 {
    color: transparent;
    -webkit-text-stroke: 1px #B3C7D1;
    font-size: 24px;
  }

.box1 {
  grid-column-start: 0/1;
  position: relative;
  right: 200px;
  width: 100%;
}

  .box2 {
    /* position: relative; */
    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
  }

  .box3 {
    /* position: relative; */
    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
    margin-top: 10px;
  }

  .box4 {
    /* position: relative; */
    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
    margin-top: 20px;
  }

  .box5 {
    /* position: relative; */
    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
    margin-top: 20px;
  }
  .box6 {
    /* position: relative; */
    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
  }
  .box7 {
    /* position: relative; */

    border: 1px solid #b3c7d1;
    overflow: scroll;
    grid-column-start: 1;
    width: 90%;
  }
}